<h2>A propos</h2>
    
<h3>Paris Event</h3>
<p>
    Site regroupant les évènements parisiens utilisant <a href="https://opendata.paris.fr/page/home/">l'API d'OpenData Paris</a> 
    (Mairie de Paris, 23/02/2018, sous license ODbL), réalisé durant ma formation Développeur Full-Stack à la 3W Academy.
    Le code du site est accessible sur <a href="https://www.github.com/Leyzou/Paris_Event">GitHub</a>.
</p>

<h3>L'Auteur</h3>

<p>
    Je m'appelle <a href="https://vincent.lepelley.fr">Vincent Lepelley</a>, développeur web et passionné par l'informatique
    depuis 2008, où j'ai lu mon 
    <a href="https://www.eyrolles.com/Informatique/Livre/reussir-son-site-web-avec-xhtml-et-css-9782212124859/">premier livre</a>
    d'informatique de Mathieu Nebra.
</p>