<h2>Connexion avec les réseaux sociaux</h2>
<div class="d-flex justify-content-between">
    <button id="google-connect" class="btn btn-google btn-social">
        <span class="fab fa-google"></span>
        Se connecter avec Google
    </button>
    <button id="github-connect" class="btn btn-github btn-social">
        <span class="fab fa-github"></span>
        Se connecter avec Github
    </button>
    <button id="facebook-connect" class="btn btn-facebook btn-social">
        <span class="fab fa-facebook-f"></span>
        Se connecter avec Facebook
    </button>
</div>